.app__wrapper-laurels {
  display: grid;

  grid-template-columns: 1fr 3.5fr 3fr;
  grid-template-rows: 95vh;

  background-color: var(--color-white);
}

.app__laurels-logo {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.app__laurels-logo img {
  width: 65%;
}

.app__laurels_awards {
  display: grid;

  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 40%;
  column-gap: 10px;
  row-gap: 50px;

  margin-top: 3rem;
}

.app__laurels_awards-card {
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__laurels_awards-card img {
  width: 24%;
}

.app__laurels_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.app__laurels_img img {
  width: 70%;
}

@media screen and (min-width: 2000px) {
  .app__laurels-logo img {
    width: 75%;
  }

  .app__laurels_awards-card img {
    width: 28%;
  }

  .app__laurels_img img {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .app__wrapper-laurels {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
  }

  .app__laurels-logo {
    justify-content: center;
  }

  .app__laurels-logo img {
    width: 20%;
  }

  .app__laurels_img {
    margin: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .app__laurels_awards-card {
    flex-direction: column;
    text-align: center;
  }
}
