.app__gallery {
  display: flex;
  flex-direction: row;

  padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-width: 500px;
  padding: 2rem;
}

.app__gallery-content button {
  margin-top: 1rem;
}

.app__gallery-images {
  display: flex;
  flex: 1;
  max-width: 50%;
  position: relative;
}

.app__gallery-images_container {
  display: flex;
  width: max-content;
  overflow-x: scroll;
}
