.app__gallery {
  display: flex;
  flex-direction: row;

  padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-width: 500px;
  padding: 2rem;
}

.app__gallery-content button {
  margin-top: 1rem;
}

.app__gallery-images {
  display: flex;
  flex: 1;
  max-width: 50%;
  position: relative;
}

.app__gallery-images_container {
  display: flex;
  width: max-content;
  overflow-x: scroll;

  -ms-overflow-style: none; /* Hide the scrollbar in IE and Microsoft-Edge */
  scrollbar-width: none; /* SUPPORTED IN FIREFOX. Not supported in google-chrome, IE & Microsoft-Edge*/
}

/* FOR GOOGLE-CHROME: to hide scrollbar*/
.app__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}

.gallery__image-icon {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  opacity: 0.5;
  cursor: pointer;

  /* transition: all 0.5s ease-in-out; */
}

.app__gallery-images_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;

  /* transition: all 0.5s ease-in-out; */
}
