.app__gallery {
  display: flex;
  flex-direction: row;
  gap: 10%;

  padding: 4rem 1rem 4rem 6rem;
  position: relative;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  min-width: 500px;
  padding: 2rem;
}

.app__gallery-content button {
  margin-top: 1rem;
}

.app__gallery-images {
  display: flex;
  flex: 1;
  max-width: 50%;
  position: relative;
}

.app__gallery-images_container {
  display: flex;
  width: max-content;
  overflow-x: scroll;

  -ms-overflow-style: none; /* Hide the scrollbar in IE and Microsoft-Edge */
  scrollbar-width: none; /* SUPPORTED IN FIREFOX. Not supported in google-chrome, IE & Microsoft-Edge*/
}

/* FOR GOOGLE-CHROME: to hide scrollbar*/
.app__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}

.gallery__image-icon {
  position: absolute;
  color: #000;
  font-size: 2rem;
  opacity: 0.1;
  cursor: pointer;

  transition: all 0.5s ease;
}

.app__gallery-images_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;

  transition: all 0.5s ease;
}

.app__gallery-images_card:hover img {
  opacity: 0.35;
}

.app__gallery-images_card:hover .gallery__image-icon {
  opacity: 1;
}

.app__gallery-images_arrows {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 40%;
  justify-content: flex-end;
  align-items: center;

  margin-right: 11%;
}

.gallery__arrow-icon {
  color: var(--color-white);
  font-size: 1.8rem;
  cursor: pointer;
  background-color: var(--color-black);

  border-radius: 5px;
}

@media screen and (min-width: 2000px) {
  .app__gallery {
    gap: 5%;
  }
  .gallery__arrow-icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1536px) {
  .app__gallery-images_arrows {
    gap: 35%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1280px) {
  .app__gallery-images_arrows {
    gap: 30%;
    margin-right: 8%;
  }
}
@media screen and (max-width: 1024px) {
  .app__gallery {
    flex-direction: column;
    gap: 20px;
    padding: 4rem 6rem;
  }

  .app__gallery-images {
    max-width: 100%;
  }

  .app__gallery-images_arrows {
    gap: 70%;
    justify-content: center;
    right: -8%;
    bottom: 30%;
  }
}

@media screen and (max-width: 640px) {
  .app__gallery {
    padding: 4rem 4rem;
  }

  .app__gallery-content {
    min-width: 100%;
  }

  .app__gallery-images_card {
    min-width: 240px;
    height: 320px;
  }

  .app__gallery-images_arrows {
    gap: 50%;
    right: -9%;
    bottom: 26%;
  }

  .gallery__arrow-icon {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 350px) {
  .app__gallery {
    padding: 4rem 2rem;
  }
}
