.app__aboutus {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.app__aboutus-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6rem;
}

.app__aboutus-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app__aboutus-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
}

.app__aboutus-content_about,
.app__aboutus-content_history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);

  text-align: right;
  width: 50%;
}

@media screen and (min-width: 2000px) {
  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 1536px) {
  .app__aboutus-overlay img {
    width: 370px;
    height: 320px;
  }
}

@media screen and (max-width: 1280px) {
  .app__aboutus-overlay img {
    width: 350;
    height: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .app__aboutus-overlay img {
    width: 320px;
    height: 280px;
  }

  .app__aboutus-content_about,
  .app__aboutus-content_history {
    align-items: center;
  }

  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    color: var(--color-white);
    text-align: center;
    width: 100%;
  }

  .app__aboutus-overlay {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .app__aboutus-overlay img {
    width: 300px;
    height: 260px;
  }
}

@media screen and (max-width: 640px) {
  .app__aboutus-overlay img {
    height: 240px;
  }
}

@media screen and (max-width: 450px) {
  .app__aboutus-overlay img {
    height: 220px;
  }
}

@media screen and (max-width: 350px) {
  .app__aboutus-overlay img {
    height: 200px;
    padding: auto;
  }

  .app__aboutus-content_about,
  .app__aboutus-content_history {
    justify-content: space-between;
  }
}
