.app__aboutus {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.app__aboutus-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 6rem;
}

.app__aboutus-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app__aboutus-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
}

.app__aboutus-content_about,
.app__aboutus-content_history {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);

  text-align: right;
  width: 50%;
}

@media screen and (min-width: 2000px) {
  .app__aboutus-content_spoon1 img {
    height: 1110px;
  }

  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutus-content {
    flex-direction: column;
  }
  .app__aboutus-content_spoon2 {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutus-overlay img {
    width: 80%;
    height: 320px;
  }
}
