.app__header {
  display: flex;
  gap: 10%;

  min-height: 95vh;
  background-color: var(--color-white);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 80px;
}

.app__header_info {
  width: 100%;
}

/* This is updated images */

.app__header_img--container {
  width: 100%;
}

.app__header_img {
  position: relative;
}

.app__header_photo {
  position: absolute;
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  /* border-radius: 2px; */

  z-index: 10;
  transition: all 0.2s;
  outline-offset: 20px;
}

.app__header_photo--p1 {
  left: 0;
  top: 5rem;
}

.app__header_photo--p2 {
  right: 0;
  top: 8rem;
}

.app__header_photo--p3 {
  left: 27%;
  top: 14rem;
}

.app__header_photo:hover {
  outline: 1rem solid #dcca87;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
  z-index: 20;
}

.app__header_img:hover .app__header_photo:not(:hover) {
  transform: scale(0.85);
}

/*MEDIA QUERIES*/

@media screen and (min-width: 2000px) {
  .app__header-h1 {
    line-height: 150px;
    font-size: 120px;
  }

  .app__header_photo {
    width: 65%;
    outline-offset: 25px;
  }

  .app__header_photo--p1 {
    left: 3px;
    top: 6rem;
  }

  .app__header_photo--p2 {
    right: 0;
    top: 10rem;
  }

  .app__header_photo--p3 {
    left: 20%;
    top: 18rem;
  }

  .app__header_photo:hover {
    outline: 1.3rem solid #dcca87;
  }
}

@media screen and (max-width: 1536px) {
  .app__header-h1 {
    line-height: 90px;
    font-size: 60px;
  }

  .app__header_img {
    margin: 5rem 0 0 0;
  }

  .app__header_photo {
    width: 50%;
    outline-offset: 15px;
  }

  .app__header_photo--p1 {
    left: 7px;
    top: 7rem;
  }

  .app__header_photo--p2 {
    right: 2%;
    top: 8rem;
  }

  .app__header_photo--p3 {
    left: 27%;
    top: 12rem;
  }

  .app__header_photo:hover {
    outline: 0.8rem solid #dcca87;
  }
}

@media screen and (max-width: 1280px) {
  .app__header-h1 {
    line-height: 80px;
    font-size: 50px;
  }

  .app__header_photo {
    width: 45%;
    outline-offset: 10px;
  }

  .app__header_photo:hover {
    outline: 0.6rem solid #dcca87;
  }
}

@media screen and (max-width: 1024px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .app__header {
    flex-direction: column;
  }

  .app__header_photo {
    width: 100%;
    position: static;
    /* z-index: 1; */
  }

  .app__header_photo:hover {
    outline: none;
    transform: scale(1);
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  }

  .app__header_img:hover .app__header_photo:not(:hover) {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }

  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }
}

@media screen and (max-width: 350px) {
  .app__header-h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
