.app__header {
  background-color: var(--color-white);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 80px;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
    line-height: 150px;
    font-size: 120px;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 1536px) {
  .app__header-h1 {
    line-height: 90px;
    font-size: 60px;
  }

  .app__wrapper_img img {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .app__header-h1 {
    line-height: 80px;
    font-size: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }
}

@media screen and (max-width: 640px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    font-size: 30px;
    line-height: 53px;
  }
}

@media screen and (max-width: 350px) {
  .app__header-h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
