.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url("./assets/backgroundimg.jpg");

  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 95vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-end;
  align-items: center;
  margin-right: 5rem;
}

.app__wrapper_img img {
  width: 60%;
}

.custom__button {
  background-color: var(--color-golden);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.custom__button:hover {
  background-color: #9e6f21;
  color: var(--color-white);
}

.p__baskerville {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 28px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-gray);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 18px;
}

.headtext__baskerville {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__baskerville {
    font-size: 35px;
    line-height: 40px;
  }

  .p__opensans {
    font-size: 25px;
    line-height: 30px;
  }

  .headtext__baskerville {
    font-size: 100px;
    line-height: 150px;
  }

  .spoon__img {
    width: 70px;
  }
}

@media screen and (max-width: 1536px) {
  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .p__opensans {
    font-size: 16px;
  }

  .app__specialMenu_menu_items .p__baskerville {
    font-size: 24px;
    line-height: 25px;
  }

  .app__specialMenu_menu_items .p__opensans {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .app__wrapper {
    flex-direction: column;
  }

  .headtext__baskerville {
    font-size: 30px;
    line-height: 40px;
  }

  .app__wrapper_img img {
    width: 100%;
  }

  .custom__button {
    letter-spacing: 0.04em;
    line-height: 24px;
    font-size: 12px;
  }

  .p__baskerville {
    line-height: 25px;
    font-size: 18px;
  }

  .spoon__img {
    width: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__baskerville {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__baskerville {
    font-size: 12px;
  }

  .headtext__baskerville {
    font-size: 28px;
    line-height: 26px;
  }

  .app__specialMenu_menu_items .p__baskerville {
    font-size: 16px;
    line-height: 20px;
  }

  .app__specialMenu_menu_items .p__opensans {
    font-size: 12px;
    line-height: 20px;
  }

  .spoon__img {
    width: 17px;
  }
}

@media screen and (max-width: 350px) {
  .section__padding {
    padding: 2rem;
  }

  .headtext__baskerville {
    font-size: 24px;
    line-height: 25px;
  }

  .p__baskerville {
    font-size: 12px;
    line-height: 20px;
  }

  .app__specialMenu_menu_items .p__baskerville {
    font-size: 16px;
    line-height: 20px;
  }

  .app__specialMenu_menu_items .p__opensans {
    font-size: 12px;
    line-height: 20px;
  }

  .p__opensans {
    font-size: 10px;
    line-height: 15px;
  }

  .custom__button {
    font-weight: 700;
    line-height: 15px;
    font-size: 12px;
    padding: 0.3rem 0.5rem;
  }

  .spoon__img {
    width: 15px;
  }
}
